@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body, html {
    scroll-padding-top: 4em;
    margin: 0;
    padding: 0;
    font-family: "Lexend", Roboto, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #1a1a1a;
    color: white;
  }

  h1{
    font-size: 2.5rem;
  }
  
  a {
    color: white;
    color: #ffd101;
    text-decoration: underline;
  }

  a span.monospace {
    font-family: "Roboto Mono", monospace;
  }
  
  header{
    padding: 0 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 7em;
    /*background-color: white;*/
    background-color: #2d2d2d;
    transition-duration: 1s;
  }

  header.scrolled{
    height: 4em;
  }

  #header-logo {
    margin:1em 0em;
    height: 5em;
    transition-duration: 1s;
  }

  #header-logo.scrolled-logo{
    margin: 0.5em 0em;
    height: 3em;
  }

  nav {
    max-width: 40em;
    margin: auto;
    padding: 0em 0em 0em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: white;*/
    background-color: #2d2d2d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  #nav-navigation a{
    text-decoration: none;
    color: #1a1a1a;
    padding: 7px 15px;
    display: inline-block;
    margin: 0px;
    border-radius: 1.5em;
    background-color: #ffd101;
  } 

  #nav-navigation a:hover{
    background-color: #fbe26d;
    color: #201d0e;
  }
  
  #nav-navigation {
    display: flex;
  }
  
  #nav-navigation p {
    padding: 0 1em;
  }
 
  #candidatura{
    padding-top: 7em;
  }

@media (max-width: 1200px) {
    
    body,html{
      scroll-padding-top: 0em;
    }

    #header-logo.scrolled-logo{
      margin:1em 0em;
      height: 5em;
    }

    #candidatura{
      padding-top: 0em;
    }

    header {
      height: 23em;
      position:relative;
    }
    header.scrolled{
      height: 23em;
    }

    nav {
      flex-direction: column;
      position: relative;
    }
  
    section {
      padding: 0.5em;
    }
  
    #nav-navigation {
      flex-direction: column;
      align-items: center;
    }
  }

  section {
    max-width: 40em;
    margin: auto;
    padding: 1em 3em;
  }
  
  section h1 {
    font-family: "Bungee Shade";
    text-align: left;
    border-radius: 1em;
    color: #1a1a1a;
    color: #ffd101;
    
  }


  section#candidatura p, section#verbali p {
    background: linear-gradient(to right, #ffd101 0.8%, transparent 0.8%);
    background-color: #2d2d2d;
    border-radius: 8px;
    padding: 0.5em 1em;
  }

  section#candidatura p:hover, section#verbali p:hover {
    background-color: #333333;
  }

  section#candidatura p a, section#verbali p a {
    color: white;
    text-decoration: none;
  }

  .indented {
    padding-left: 2em;
  }
  
  .unipd {
    color: #B5121B;
    color: #ffd101;
  }
  
  #last-update {
    background-color: #2d2d2d;
    text-align: center;
    font-size: 0.7em;
    color: gray;
  }
  
  #link-github {
    word-break: break-word;
  }
  
  .tag-versione {
    font-size: 0.9em;
    color: gray;
  }
  
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    section {
      padding: 0.5em;
    }
  
    #nav-navigation {
      flex-direction: column;
      align-items: center;
    }
  }
